/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #00aced;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  text-align: center;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.head{
  padding-bottom: 90px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   font-size: 50px;
}

.btn {
  padding: 12px 24px;
  background-color: #fff;
  color: #0072ff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.footer {
  background-color: #222;
  color: #ccc;
  text-align: center;
  padding: 20px;
}

.social-links a {
  margin: 0 10px;
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #00aced;
}

/* Responsive */
@media (max-width: 768px) {
  .header{
    flex-direction: column;
  }

  .head{
    font-size: 30px;
  }
  .nav ul {
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center; 
  }
  .nav ul li {
    padding: 20px;
    margin: 10px 0;
  }

  .hero-content h1 {
    font-size: 2em;
  }

  .hero-content p {
    font-size: 1em;
  }
}
